{% extends 'layout.twig' %}

{% block title %}
	Title
{% endblock %}

{% block breadcrumb %}

	{{ ssr }}

	<div class="card m-0 bg-light rounded-0">
		<div class="card-body p-2 d-inline-flex justify-content-between">
			<div class="btn-group">
				<button type="button"
								class="btn btn-sm btn-outline bg-default dropdown-toggle mr-2"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false">
					<i class="zmdi zmdi-labels mr-1"></i>Categories
				</button>
				<div class="dropdown-menu">
					{% for category in categories %}
						<li class="nav-item">
							<a class="dropdown-item {{ is_subpath('blog.category', {slug: category.slug}) ? 'active' }}"
								 href="{{ path('blog.category', {slug: category.slug}) }}">
								{{ category.name }}
							</a>
						</li>
					{% endfor %}
				</div>
				{% if category %}
					{# TODO: widget Breadcrumb #}
					<h6 class="ml-2 center-align-fix">
						{{ is_subpath('blog.category', {slug: category.slug}) ? category.name }}
					</h6>
				{% endif %}
			</div>
			<div class="justify-content-end">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<a class="input-group-addon btn btn-default" href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}

<article>
	<div class="card-columns mb-3">
		{% for post in posts %}
			<div class="card">
				{% if post.image %}
					<img class="card-img-top" src="{{ post.thumb }}" alt="">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ post.name }}</h5>
					<p class="card-text mb-2">{{ post.content | excerpt | nl2br }}</p>
					<small class="text-muted">{{ post.createdAt | ago }}</small>
				</div>
				<div class="card-footer d-flex justify-content-end" style="background-color: white;">
					<a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
						<span class="color-secondary-dark">READ MORE</span>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr>

	{% if category %}
		{{ paginate(posts, 'blog.category', {slug: category.slug}) }}
	{% else %}
		{{ paginate(posts, 'blog.index') }}
	{% endif %}
</article>

{% endblock %}
