<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
		body {
			font-family: Roboto, sans-serif;
			font-size: .875rem;
			background-color: white;
			position:relative;
		}
		h1 {padding:0;margin:1rem;font-weight:lighter;}
		h4 {margin: 0; padding:0;font-size:1.15rem;}
		header > h1 {color:gray;float:right;}
		.address.from {
			display: inline-block;
			margin: 1rem;
		}
		.address.to {
			margin: 1rem;
			width:25%;
		}
		.address.to .label {
			border: 1px solid black;
			padding: .25rem .5rem;
			background-color:#d3d3d3;
			font-weight: bolder;
		}
		.address.to .content {
			padding: 0 .25rem;
		}
		.clear {
			margin: 1rem 0;
		}
		.info {
			position:absolute;
			top:4rem;
			right:1rem;
		}
		.info th {
			background: #d3d3d3;
		}
		.items {
			padding: 0 1rem;
			border:none;
			width:100%;
		}
		.text-right {
			text-align: right;
		}
	</style>
</head>
<body>
	<header>
		<h1>INVOICE</h1>
		<div class="address from">
				<h4>[Company Name]</h4>
				[Street Address]<br>
				42000 Saint-Étienne<br>
				SIRET: ____________
		</div>
		<div class="address to">
			<div class="label">BILL TO</div>
			<div class="content">
				{% if user.firstname and user.lastname %}<strong>{{ user.firstname }} {{ user.lastname }}</strong>
				{% else %}<strong>{{ user.username }}</strong>{% endif %}
				<br>
				{{ user.email }}
			</div>
		</div>
	</header>

	<main>
		<div class="info">
			<table cellspacing="0" cellpadding="4" border="1">
				<thead>
					<tr>
						<th>Invoice #</th>
						<th>Issued On</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td class="definition">
						INVOICE-{{ purchase.createdAt.format('Y') }}-{{ purchase.id }}
					</td>
					<td class="definition">{{ purchase.createdAt.format('d/m/Y') }}</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="clear"></div>

		<table class="items" cellspacing="0" border="1" cellpadding="4">
			<thead>
			<tr>
				<th>Description</th>
				<th class="text-right" width="75">Price</th>
				<th class="text-right" width="105">Price VAT</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>{{ purchase.productName }}</td>
				<td class="text-right">{{ purchase.price | number_format(2, '.', ',') }}€</td>
				<td class="text-right">{{ (purchase.price + purchase.vatPrice) | number_format(2, '.', ',') }}€</td>
			</tr>
			<tr class="total total-first">
				<td class="label text-right" colspan="2">Sub total</td>
				<td class="text-right">
					<strong>{{ purchase.price | number_format(2, '.', ',') }}€</strong>
				</td>
			</tr>
			<tr class="total total">
				<td class="label text-right" colspan="2">Tax ({{ purchase.vat }}%)</td>
				<td class="text-right">
					<strong>{{ purchase.vatPrice | number_format(2, '.', ',') }}€</strong>
				</td>
			</tr>
			<tr class="total total-big">
				<td class="label text-right" colspan="2">Vat total</td>
				<td class="text-right">
					<strong>{{ purchase.price + purchase.vatPrice | number_format(2, '.', ',') }}€</strong>
				</td>
			</tr>
			</tbody>
		</table>
	</main>
	<hr>
	<footer>
		Legals mentions: Lorem ipsum...
	</footer>
	<script>
		window.print()
		window.close()
	</script>
</body>
</html>